body{
    padding: 40px 40px;
}
div{
    border: solid 1px black;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 20px;

}
.overview{
    width: 170px;
    height: 70px;
    position:fixed ;
    top: 100px;
    opacity: 0;
    
}
img:hover .overview{
    opacity: 1;
}

