div{
    border: 1px solid grey;
    margin: 2px 2px;
}
.main{
    display: flex;
    border: 1px solid grey;
    width: 300px;
    flex-direction:column;
}
.content{
    display: flex;
    flex-direction: row;
}
.profilephoto{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.maincontent{
    display:flex;
    flex-direction: column;
}
.heading{
    display: flex;
    flex-direction: ;
}