
button{
    cursor: pointer;
}
.cart{
    background-color: rgb(255, 216, 20);
    border: none;
    height: 25px;
    width: 100px;
    border-radius: 12px;
    font-weight: 480;
    transition: opacity 1s,
    box-shadow 1s;
}

.cart:hover{
    opacity: 0.7;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.cart:active{
    opacity: 0.4;
}
.buy{
    
    background-color: white;
    border: none;
    height: 25px;
    width: 100px;
    border-radius: 12px;
    margin-left: 8px;
    font-weight: 480;
    color: rgb(28, 154, 238);
    transition: background-color 1s,
         color 10s,
         box-shadow 10s;
    
    
}
.buy:hover{
    background-color: rgb(28, 154, 238);
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
h1{
    font-size: 24px;
    font-weight: 600px;
    
}
a{
    color: rgb(0,113,133);
}
h2{
   color: rgb(0,118,0);
   font-size: 14px;
}
h3{
    font-weight:400
}
