button{
    cursor: pointer;
}
.cart{
    background-color: rgb(255, 216, 20);
    border: none;
    height: 25px;
    width: 100px;
    border-radius: 12px;
    font-weight: 480;
}
.buy{
    background-color: rgb(255, 164, 28);
    border: none;
    height: 25px;
    width: 100px;
    border-radius: 12px;
    font-weight: 480;
}
h1{
    font-size: 24px;
    font-weight: 600px;
    
}
a{
    color: rgb(0,113,133);
}
h2{
   color: rgb(0,118,0);
   font-size: 14px;
}
h3{
    font-weight:400
}
