.profile-picture,div{
    width: 120px;
    height: 120px;
}
.profile-picture{
    margin-bottom: 6px;
    border-radius: 4px;
}
div{
    height: 200px;
    font-family: Arial;
    border-radius: 4px;   
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 10px;
}
span{
    font-size: 12px;
    padding-left: 6px;
    font-weight: 600;
    display: block;
}
.span2{
    font-size: 8px;
    padding:6px 6px;
    color: rgb(121, 121, 121);   
}
button{
    border: none;
    background: #0077ff;
    border-radius: 4px;
    padding: 6px 6px;
    margin: 4px 8px;
    font-size:10px ;
    color: white;
}
