div{
    border:  solid 2px ;
}
.main{
    width: 280px;
    height: 60px; 
}
.profile-div{ 
    width: 50px;
    height: 60px;
    display: inline-block;
}
.profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
}
.info{
        display: inline-block;
        width: 100px; 
        height: 60px;
}
