.js-button{
    background: #000;
    color: white;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
}
.js-button:hover{
    cursor: pointer;
}
.isSubscribed{
    background: rgb(194, 194, 194);
    color: #000;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
}